body {
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
  background: hsl(209, 26%, 81%);
  display: flex;
  justify-content: center;
  align-items: center;
}

.login-container {
  background: rgb(#92a6b8);
  height: 100vh;
  width: 100%;
  border-radius: 10px;  
  display: flex;
  box-shadow: #0a0a0b;
  border-radius: 0%;
  border: #0a0a0b;
  flex-direction: column;

  justify-content: center;
  align-items: center;
}

.login-container h1 {
  margin-bottom: 20px;
}

.input-box {
  width: 100%;
  margin-bottom: 15px;
}

.input-box input {
  width: 100%;
  padding: 10px;
  border: none;
  border-bottom: 2px solid #1b1919;
  outline: none;
  font-size: 16px;
  background: transparent;
}

.input-box input:focus {
  border-bottom: 2px solid #131415;
}

.login-btn {
  width: 100%;
  padding: 10px;
  background: black;
  border: none;
  color: #f9fafc;
  font-size: 16px;
  border-radius: 5px;
  cursor: pointer;
}

.signup-link {
  margin-top: 15px;
  font-size: 14px;
}

.signup-link a {
  color: #0c0d0d;
  text-decoration: none;
}
body {
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
  background: #92a6b8;
  height: 100vh;
  display: flex;
  
}

.sign {
  height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: #92a6b8

}
.signup-box {
  width: 350px;
  background: #92a6b8;
  padding: 30px;
  
  display: flex;
  flex-direction: column;
  align-items: center;
}

.sign input {
  width: 100%;
  padding: 10px;
  border: none;
  outline: none;
  border-bottom: 2px solid black;
  background: transparent;
  margin-bottom: 15px;
}

.sign button {
  width: 70%;
  padding: 10px;
  background-color: #0a0a0b;
  color: rgb(230, 232, 233);
  border-radius: 5px;
  border: none;
  cursor: pointer;
}

.sign a {
  text-decoration: none;
  color: #0c0b0d;
} 